ul{
    list-style-type: none;
    padding: 0px;
    float: right;
    margin: 30px;
}
.nav1{
    background-color: transparent;
    padding: 10px;
    height: 80px;
}
li{
    display: inline;
  text-transform: uppercase;
  padding-inline-start: 10px;

}
li a{

 text-decoration: none;
color: aliceblue;
font-style: italic;
font-family: sans-serif;
}
body{
    background-color: teal;
}